*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #444;
}

.scores {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0.5em;
    width: 640px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}